<h1>Découverte Angular</h1>

<a href="https://google.com" no-open>Google !</a>
<a
  href="https://twitter.com"
  confirm
  confirm-message="Voulez vous vraiment vous rendre sur cette poubelle ?!"
  >Twitter !</a
>

<counter [initial-value]="20" [step]="2"></counter>

<user-profile
  first-name="Lior"
  last-name="Chamla"
  job="Formateur"
  [hired]="true"
></user-profile>

<p highlight base-color="green" background-color="purple">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laudantium
  inventore nostrum eligendi quas quod cupiditate cum necessitatibus placeat
  pariatur. Quod quisquam mollitia quia quos!
</p>

<p highlight>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cumque, id
  perspiciatis tempora culpa officiis!
</p>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus iure fugiat
  placeat odit ex voluptates laboriosam, aut rem tempore amet ducimus, molestias
  eos. Porro, qui?
</p>
